@import "../../../styles";

.levels-container {
  width: 100%;
  height: 100%;

  //arrangement
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.icons-container {
  width: 100%;

  //alignment
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text-container {
  @include font-style-mixin;
  color: #343434;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.icon-image {
  width: 20px;
  height: 24px;
  background-size: cover;
  cursor: pointer;
}

.icon-lock {
  background: url("../../../assets/Icons/lock.svg");
  cursor: not-allowed;
  pointer-events: none;
}

.icon-unlock {
  background: url("../../../assets/Icons/unlock.svg");
}

.icon-text {
  @include font-style-mixin;

  font-weight: 400;
  font-size: 15.5465px;
  line-height: 19px;
}
.icon-text-lock {
  color: #B8B8B8;
}

.icon-text-unlock {
  color: #343434;
}

.selected-level {
  width: 15px;
  height: 2px;
  background: #FFA800;
  position: absolute;
  bottom: 3%;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
