<div class="playground-container" >
  <div class="cards-grid" *ngIf="!gameStop else winning">
    <div class="text-container">
      Time left: {{timer}}s
    </div>
    <div *ngFor="let card of cardsProperties" class="card-container">
      <app-card
        [card]="card"
        [isRevealed]="cardsVisible.includes(card)"
        [canReveal]="canReveal"
        (revealACard)="revealACard($event)"
      ></app-card>
    </div>
  </div>
  <ng-template #winning>
    <h1>Guess what.. you {{gameResult}}</h1>
  </ng-template>
</div>
