<div class="playground-container" >
  <div class="cards-grid" *ngIf="!gameStop else resultTemplate">
    <div class="text-container">
      Time left: {{timer}}s
    </div>
    <div *ngFor="let card of cardsProperties" class="card-container">
      <app-card
        [card]="card"
        [isRevealed]="cardsVisible.includes(card)"
        [canReveal]="canReveal"
        (revealACard)="revealACard($event)"
      ></app-card>
    </div>
  </div>
  <ng-template #resultTemplate >
    <div class="game-finished">
      <h1>Guess what.. you {{gameResult}} {{(levelSelected === 4 && gameResult === 'WON') ? 'THE GAME. You really are the God of Nerds!' : ''}}</h1>
      <button class="btn-next"
              (click)="startNewGame()"
              *ngIf="!(levelSelected === 4 && gameResult === 'WON')"
      >{{returnTextAfterGameIsFinished()}}</button>
    </div>
  </ng-template>
</div>
