@import "../../../styles";

.playground-container {
  width: 100%;
  height: 100%;

  //style
  background: #FFFFFF;
  box-shadow: 4.30741px 4.30741px 53.8426px rgba(0, 0, 0, 0.1);
  border-radius: 30.1519px;

  //alignment
  display: flex;
  align-items: center;
  justify-content: center;

  //for the text-container with position absolute
  position: relative;
}

.cards-grid {
  width: 80%;
  height: 70%;

  //alignment
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20%;
  column-gap: 7%;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 130px;
  height: 150px;

  //for the card-cover with position absolute
  position: relative;
}

.text-container {
  @include font-style-mixin;
  color: #343434;

  position: absolute;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.game-finished {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btn-next {
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 5px 15px;
  border: 1px solid #FFA800;
  border-radius: 5px;

  //text
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: larger;
  color: #FFA800;

  //animation
  transition: all 0.3s ease;
}

.btn-next:hover {
  color: white;
  background: #FFA800;
}
